<h1>New Post</h1>

<%= form_for @post, url: admin_posts_path, html: { class: 'form-horizontal' } do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
    <% if @post.errors[:title].any? %>
      <div class="error-message">
        <%= @post.errors.full_messages_for(:title).first %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, class: 'form-control' %>
    <% if @post.errors[:body].any? %>
      <div class="error-message">
        <%= @post.errors.full_messages_for(:body).first %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.all, :id, :name, prompt: 'Select a user', class: 'form-control' %>
    <% if @post.errors[:user_id].any? %>
      <div class="error-message">
        <%= @post.errors.full_messages_for(:user_id).first %>
      </div>
    <% end %>
  </div>
  <%= link_to "English", url_for(locale: 'en'), class: "dropdown-item" %>
 <%= link_to "Tiếng Việt", url_for(locale: 'vi'), class: "dropdown-item" %>


  <div class="actions">
    <%= form.submit 'Create Post', class: 'btn btn-primary' %>
  </div>

<% end %>

<%= link_to 'Back', admin_posts_path, class: 'btn btn-secondary' %>
